# 请替换 APIKey（假使APIKey是key123456）和APISecret（假使APISecret是secret123456）
VITE_SPARK_KEY=064d5405823d0d7a325d6f5c3b8ae81c:ZjZmMGY5NTc2ZDY3ODJmOGQwYzNjZmFm
VITE_SILICONFLOW_KEY=sk-lbthgzmcxthgozutmuepqcfpqefuejxtarkagrsmnmhbbasd
VITE_MOONSHOT_KEY=sk-rXrM91xvqa72GXu4L3iF9LPlETlfS3yCA0JsC5c5c2gdykoo
VITE_DEEPSEEK_KEY=sk-xxxxxx
ZjZmMGY5NTc2ZDY3ODJmOGQwYzNjZmFm